<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<h5>Personas</h5>
<hr />

<form [formGroup]="formularioPersona" (ngSubmit)="agregarPersona()">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" formControlName="nombre" />
    </div>
    <div>
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido" formControlName="apellido"/>
    </div>
    <div>
        <label for="edad">Edad:</label> 
        <input type="number" name="edad" id="edad" formControlName="edad"/>
    </div>
    <hr />
    <div>
        <button type="submit">Agregar Persona</button>
    </div>
</form>

<hr />

<table style="width:20%">
    <tr>
        <th>Identificador</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Acciones</th>
    </tr>
    <tr *ngFor="let persona of personas;index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.apellido }}</td>
        <td>{{ persona.edad }}</td>
        <td><button (click)="eliminarPersona(i)">X</button></td>
    </tr>
</table>
<hr />